<style>

    body {
        background-color: black;
    }

</style>

<body>

    <h1>You have already started a game. Do you want to start a new one?</h1>
    <input type="submit" value="Back" asp-action="Index" />
    <input type="submit" value="New Game" asp-action="NewGame" />

</body>