<style>

    body {
        background-color: black;
        font-family: fantasy;
        color: yellow;
    }

    .container {
        margin-top: 100px;
        text-align: center;
    }

</style>

<body>

    <form method="get">
        <div class="container">
            <h1>You have already started a game. Do you want to start a new one? This will delete current Save.</h1>
            <input type="submit" value="Back" asp-action="Index" />
            <input type="submit" value="New Game" asp-route-id="1" asp-action="ExistingGame"/>
        </div>
    </form>
</body>