@model ChatViewModel

<style>

    body {
        background-color: black;
        color: white;
    }


    .col-6 {
        color: white;
        margin-left: 500px;
    }

    .col-4 {
        margin-left: 500px;
    }

    #messagesList {
        color: white;
    }

</style>

<form method="get">
    <input type="submit" value="Back" asp-action="Inbox" asp-controller="Menu" />
</form>
<div class="container">
    <div class="row">
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-4">
        <input type="text" style="width:250px" placeholder="Message" id="messageInput" />
        <input type="submit" style="width:100px;font-weight:bolder" id="sendButton" value="SEND" />
    </div>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>