@page
@model LoginModel

<style>

    body {
        background-color: black;
          font-family: fantasy;
    }

    .title {
        margin-top: 100px;
        color: gold;
        width: 100%;
        font-size: 50px;
        text-align: center;
    }

    .LoginTitle {
        color: red;
        margin-left: 60px;
        font-size:50px;
    }

    .Login    {
       text-align:center;
    }

    .checkbox {
        color: red;
    }

    .btn-primary {
        background-color: black;
        color: red;
    }

        .btn-primary:hover {
            background-color: red;
            color: black;
        }

    .row {
        margin-left: 500px;
    }
</style>

<h1 class="title">FOOTBALL MANAGER</h1>
<hr />
<div class="row">
    <h1 class="LoginTitle">Login</h1>
    <div class="col-md-4">
        <section class="Login">
            <form id="account" method="post">
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <label asp-for="Input.Email" class="form-label"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <hr />
                <div class="form-floating">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                    <label asp-for="Input.Password" class="form-label"></label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <hr />
                <div>
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe" class="form-label">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>

                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                </div>
                <hr />
                <div>
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </div>
            </form>
        </section>
    </div>

</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />

}
