@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<style>


    .sidebar {
        height: 1000px;
        width: 160px;
        margin-left: -115px;
        z-index: -5;
        top: 0;
        left: 0;
        overflow: hidden;
        background-color: #111;
        padding-top: 20px;
        border: 0px 0px 5px solid grey;
    }

        .sidebar a {
            padding: 6px 8px 6px 16px;
            text-decoration: none;
            font-size: 20px;
            color: white;
            display: block;
            float: left;
            font-family: 'Felix Titling';
        }

        .sidebar li {
            margin-top: 20px;
        }

        .sidebar a:hover {
            box-shadow: 0px 0px 10px white;
            color: white;
            border: 3px solid black;
            width: 100%;
        }

    label {
        text-align: center;
        color: gray;
        margin-left: 5px;
        font-size: 16px;
        font-family: 'OLD SPORT 02 ATHLETIC NCV';
    }

</style>

<head>
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium+Web:300">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500" />
</head>

<div class="sidebar">
    <label>Football Manager</label>
    <hr />

    <a asp-action="Inbox" asp-controller="Menu">
        <span class="nav-text">
            Inbox
        </span>
    </a>
    <hr />
    <a asp-action="MatchDayPreview" asp-controller="Match">
        <span class="nav-text">
            Next Match
        </span>
    </a>
    <hr />
    <a asp-action="Standings" asp-controller="Menu">
        <span class="nav-text">
            Standings
        </span>
    </a>
    <hr />
    <a asp-action="Fixtures" asp-controller="Menu">
        <span class="nav-text">
            Fixtures
        </span>
    </a>
    <hr />

    <a asp-action="TeamStats" asp-controller="Menu">
        <span class="nav-text">
            Team Stats
        </span>
    </a>

    <hr />

    <a asp-action="PlayersStats" asp-controller="Menu">
        <span class="nav-text">
            Players Stats
        </span>
    </a>

    <hr />
    <a asp-action="Transfers" asp-controller="Menu">
        <span class="nav-text">
            Transfers
        </span>
    </a>
    <hr />

</div>



