<style>

    .standings-sidebar {
        margin-top: 50px;
        background-color: #333;
        color: white;
        padding: 10px;
        width: 250px;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        overflow-y: auto;
        opacity: 0.9;
    }

        .standings-sidebar h3 {
            font-size: 18px;
            margin: 0;
        }

        .standings-sidebar #calendar-content {
            padding: 10px;
        }

    .standings-event {
        font-size: 14px;
        color: #fff;
        margin-bottom: 10px;
    }

</style>

   <div id="standings-box" class="standings-sidebar">
        <h3>Standings</h3>
        <hr />
        <div id="standings-content">
            <ul id="standings-list">
                <li>Loading...</li>
            </ul>
        </div>
    </div>


<script>

</script>