<style>
    .top-left-button {
        padding:5px;
        border:2px solid black;
        font-weight:bolder;
        text-decoration:none;
        position: absolute;
        top: 10px;
        left: 10px;
        background-color:dimgrey;
        color:white;
        font-family:Garamond;
    }

    .top-left-button:hover{
        color:red;
    }
</style>
<div>
    <a asp-action="Index" asp-controller="Menu" class="top-left-button">To Main Menu</a>
</div>