@model InboxViewModel

<partial name="~/Views/Shared/_SideBar.cshtml" />

<style>

    body {
        background-color: black;
    }

    .Inbox {
        margin-top: 30px;
        margin-left: 150px;
        border-radius: 10px 10px 10px 10px;
        border: 3px solid white;
        background-color: darkgrey;
        height: auto;
        width: 1200px;
    }

    .news {
        font-family: 'OLD SPORT 02 ATHLETIC NCV';
        text-align: center;
        height: 100px;
        width: 1150px;
        margin-left: 20px;
    }

        .news:hover {
            box-shadow: 0px 0px 10px black;
        }

    .title {
        margin-left: 550px;
        font-size: 30px;
        font-family: fantasy;
    }
</style>

<body>

    <div class="Inbox">
        <label class="title">INBOX</label>
        <hr style="color:red;font-weight:bolder" />

        @foreach (var item in @Model.News)
        {
            <div class="news">
                <p style="color:red">Year: @item.Year Day: @item.Day</p>
                <p style="color:black;font-style:italic;font-size:30px">@item.Message</p>
            </div>
            <hr style="font-weight:bolder;font-size:20px;color:green" />
        }
    </div>

</body>


