@model InboxViewModel

<partial name="~/Views/Shared/_SideBar.cshtml" />

<style>

    body {
        background-color: darkslategrey;
    }

    .Inbox {
        margin-top: 50px;
        margin-left: 150px;
        border-radius: 10px 10px 10px 10px;
        border:3px solid black;
        background-color: darkgrey;
        height: auto;
        width: 1200px;
    }

    .news {
        font-family:'OLD SPORT 02 ATHLETIC NCV';
        text-align:center;
    }

    .title {
        margin-left: 550px;
        font-size: 30px;
        font-family: fantasy;
    }
</style>

<body>

    <div class="Inbox">
        <label class="title">INBOX</label>
        <hr style="color:red;font-weight:bolder" />

        @foreach (var item in @Model.News)
        {
            <div class="news">
                <p>Year: @item.Year Day: @item.Day</p>
                <p style="color:red;font-size:30px">@item.Message</p>
            </div>  
            <hr style="font-weight:bolder;font-size:20px;color:green"/>
        }
    </div>

</body>


