@using FootballManager.Core.Models.Menu;
@model MenuViewModel

<style>
    body {
        margin: 0;
        padding: 0;
        background-image: url("/Images/Wallpapers/MenuWallpaper.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .overlay {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: -1;
    }

    #header {
        background-color: #333;
        color: #fff;
        padding: 10px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
        display: flex;
        justify-content: center;
    }

        #header p {
            margin: 0;
            color: red;
        }

    .menu-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 900px;
        opacity: 0.9;
    }

    .menu-item {
        font-size: 30px;
        text-align: center;
        margin: 10px;
        padding: 10px 20px;
        background-color: #333;
        color: red;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
        max-width: 400px;
        width: 100%;
        text-decoration: none;
    }

        .menu-item + .menu-item {
            margin-top: 10px;
        }

        .menu-item:hover {
            background-color: #555;
            color: white;
        }


    .line {
        width: 30%;
        height: 2px;
        margin: 5px 0;
        border: none;
        background-color: red !important;
    }
</style>

<body>

    <div id="header">
        <p>Year: @Model.CurrentYear | Month: @Model.CurrentMonth | Day: @Model.CurrentDay</p>
    </div>

    <partial name="_InboxPartial.cshtml" />

    <div class="menu-container">
        <partial name="_ContinueButtonPartial" />
        <hr class="line" />
        <a asp-action="Index" asp-controller="Calendar" class="menu-item">CALENDAR</a>
        <hr class="line" />
        <a asp-action="Standings" asp-controller="Teams" class="menu-item">STANDINGS</a>
        <hr class="line" />
        <a asp-action="Index" asp-controller="Fixtures" class="menu-item">FIXTURES</a>
        <hr class="line" />
        <a asp-action="TeamStats" asp-controller="Teams" class="menu-item">TEAM STATS</a>
        <hr class="line" />
        <a asp-action="PlayersStats" asp-controller="Players" class="menu-item">PLAYER STATS</a>
        <hr class="line" />
        <a asp-action="Market" asp-controller="Transfer" class="menu-item">TRANSFER MARKET</a>
        <hr class="line" />
        <a asp-action="Logout" asp-controller="Account" class="menu-item">LOGOUT</a>
        <hr class="line" />
    </div>
    <partial name="_StandingsPartial.cshtml" />

</body>
